<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * ArchiveDotOrg Core Module - PHPUnit Configuration
 *
 * Run tests with:
 *   vendor/bin/phpunit -c app/code/ArchiveDotOrg/Core/Test/phpunit.xml
 *
 * Or from module directory:
 *   ../../../../../vendor/bin/phpunit -c phpunit.xml
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="../../../../../vendor/autoload.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true"
         failOnRisky="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="ArchiveDotOrg_Core Unit Tests">
            <directory suffix="Test.php">Unit</directory>
        </testsuite>
        <testsuite name="ArchiveDotOrg_Core Integration Tests">
            <directory suffix="Test.php">Integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../Api</directory>
            <directory suffix=".php">../Block</directory>
            <directory suffix=".php">../Console</directory>
            <directory suffix=".php">../Model</directory>
            <directory suffix=".php">../Exception</directory>
        </include>
        <exclude>
            <directory suffix=".php">../Test</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage-report"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>

    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="E_ALL"/>
    </php>

    <logging>
        <testdoxText outputFile="php://stdout"/>
    </logging>
</phpunit>
