<?xml version="1.0"?>
<!--
/**
 * ArchiveDotOrg Core Module - ACL Configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="ArchiveDotOrg_Core::config" title="Archive.org Import" translate="title" sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
                <!-- Admin Menu Resources -->
                <resource id="ArchiveDotOrg_Core::archive" title="Archive.org" translate="title" sortOrder="150">
                    <resource id="ArchiveDotOrg_Core::products" title="Imported Products" translate="title" sortOrder="10">
                        <resource id="ArchiveDotOrg_Core::products_view" title="View Products" translate="title" sortOrder="10"/>
                        <resource id="ArchiveDotOrg_Core::products_delete_admin" title="Delete Products" translate="title" sortOrder="20"/>
                        <resource id="ArchiveDotOrg_Core::products_reimport" title="Re-import Products" translate="title" sortOrder="30"/>
                    </resource>
                </resource>
                <!-- REST API Resources -->
                <resource id="ArchiveDotOrg_Core::api" title="Archive.org API" translate="title" sortOrder="200">
                    <resource id="ArchiveDotOrg_Core::import" title="Import Management" translate="title" sortOrder="10">
                        <resource id="ArchiveDotOrg_Core::import_start" title="Start Import" translate="title" sortOrder="10"/>
                        <resource id="ArchiveDotOrg_Core::import_status" title="View Import Status" translate="title" sortOrder="20"/>
                        <resource id="ArchiveDotOrg_Core::import_cancel" title="Cancel Import" translate="title" sortOrder="30"/>
                    </resource>
                    <resource id="ArchiveDotOrg_Core::collections" title="Collection Management" translate="title" sortOrder="20">
                        <resource id="ArchiveDotOrg_Core::collections_view" title="View Collections" translate="title" sortOrder="10"/>
                    </resource>
                    <resource id="ArchiveDotOrg_Core::products" title="Product Management" translate="title" sortOrder="30">
                        <resource id="ArchiveDotOrg_Core::products_delete" title="Delete Products" translate="title" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
